li a:hover{
  color: green !important;
}
#jumbotron{
  width:100vw;
  height:40vh;
  background-image: url(images/blurimage.jpg);
  background-size: 108% 100%;
  background-repeat: no-repeat;
  margin-top: 63px;

}
