nav{
  color:white;
}
li a:hover{
  color: green !important;
}
#jumbotron{
  width:100vw;
  height:30vh;
  background-image: url(images/blurimage.jpg);
  background-size: 108% 100%;
  background-repeat: no-repeat;
  margin-top: 63px;
}
footer{
  padding-top: 2% ;
  width: 100vw;
  background-color: black;
  color:white;
}
.icons{
  color:  pink;
}
.icons:hover,
.icons:active{
  color:white;
}
body{
  overflow-y: auto;
  display: flex;
 min-height: 100vh;
 flex-direction: column;
}
.mainPage{
  background-color:#e3f2fd;
  flex:1;width:100vw; /*fix footer*/
  padding:0 0 5vh 0;
  cursor:crosshair
}
